In [1]:
import re

In [2]:
import pandas as pd

## Regrex

In [3]:
word = 'grail'
sent = 'a scratch'

In [5]:
## Extract Numbers from a string
pattern_digits = '\d+'
names="13 Jodie Whittaker, John Hurn 12, Peter Capaldi 11, Matt Smith 10, David Tennant 9"
numbers = re.findall(pattern=pattern_digits, string=names)

In [8]:
numbers

['13', '12', '11', '10', '9']

In [9]:
## This is a regex pattern that matches words except digits
pattern_words = '\D+' # exclude all numbers
words = re.findall(pattern=pattern_words, string=names)
words

[' Jodie Whittaker, John Hurn ',
 ', Peter Capaldi ',
 ', Matt Smith ',
 ', David Tennant ']

In [11]:
pattern_u='\S*u+\S*' # a word that contains letter "u"
words_containing_u = re.findall(pattern=pattern_u, string=names)
words_containing_u

['Hurn']

In [13]:
pattern_Jo='\S*Jo+\S*'
words_starting_with_Jo = re.findall(pattern=pattern_Jo, string=names)
words_starting_with_Jo

['Jodie', 'John']

## Pandas

In [15]:
hello_words= pd.Series(['hola', 'hello', 'nǐ hǎo','hallo','bonjour'], dtype="string")
hello_words

0       hola
1      hello
2     nǐ hǎo
3      hallo
4    bonjour
dtype: string

In [16]:
boolean_contains_a=hello_words.str.count("a")
boolean_contains_a

0    1
1    0
2    0
3    1
4    0
dtype: Int64

In [18]:
boolean_hallo=hello_words.str.match("hallo")
boolean_hallo

0    False
1    False
2    False
3     True
4    False
dtype: boolean

In [19]:
hello_words.str.upper()

0       HOLA
1      HELLO
2     NǏ HǍO
3      HALLO
4    BONJOUR
dtype: string

In [20]:
# split on the word 'l'
hello_words.str.split('l')

0      [ho, a]
1    [he, , o]
2     [nǐ hǎo]
3    [ha, , o]
4    [bonjour]
dtype: object

In [21]:
hello_words.str.replace('h', 'j')

0       jola
1      jello
2     nǐ jǎo
3      jallo
4    bonjour
dtype: string

In [22]:
hello_words.str.cat(sep=',')

'hola,hello,nǐ hǎo,hallo,bonjour'

In [23]:
hello_words.str[0:3]

0    hol
1    hel
2    nǐ
3    hal
4    bon
dtype: string

In [28]:
numbers=pd.Series(['1', '2', '3a', '3b', '03c', '4dx'])
pattern = r'[0-9][a-z]'
numbers.str.contains(pattern)

0    False
1    False
2     True
3     True
4     True
5     True
dtype: bool

In [30]:
numbers.str.match(pattern)
numbers.str.contains('\D', regex=True)

0    False
1    False
2     True
3     True
4     True
5     True
dtype: bool

In [32]:
long_strings=pd.Series(['This is a really long string','13 Jodie Whittaker', 'John Hurn 12','David Lopez 34','this is a sentencce'])
long_strings

0    This is a really long string
1              13 Jodie Whittaker
2                    John Hurn 12
3                  David Lopez 34
4             this is a sentencce
dtype: object

In [33]:
long_strings.str.contains('\d', regex=True)

0    False
1     True
2     True
3     True
4    False
dtype: bool

In [37]:
digit_filter=long_strings.str.contains('\d', regex=True)
long_strings[digit_filter]

1    13 Jodie Whittaker
2          John Hurn 12
3        David Lopez 34
dtype: object

## Extracting Patterns

1. know what you want
2. extract patters, same that you need a patten
3. concat into a dataframe

In [43]:
long_strings_numbers=long_strings.str.extract(r'(\d+)', expand=False)
long_strings_numbers
pd.concat([long_strings, long_strings_numbers], axis=1)

                              0    1
0  This is a really long string  NaN
1            13 Jodie Whittaker   13
2                  John Hurn 12   12
3                David Lopez 34   34
4           this is a sentencce  NaN